body {
  background-color: rgb(224, 239, 252);
  margin: 0;
}

body, input, button, select {
  font-family: 'Pangolin', cursive;
  font-size: 20px;
}

input:focus, button:focus, select:focus {
  outline: 0;
}

#root {
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
  background-color: white; 
}